* {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    margin: 0;
}

/* body {
    min-width: 300px;
} */

/* 
    Hamburguer menu
*/
.menu-visibility{
    display: none;
    height: 0px;
}  





.logo-head {
    display: none;
}
/* .burguer-menu {
    background-color: #2e6ca4;
    position: fixed;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 50px;
    bottom: 150px;
    z-index: 150;
    cursor: pointer;
    display: none;
} */

.whatsapp-btn {
    background-color: #25D366;
    position: fixed;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    z-index: 150;
    cursor: pointer;
    
}

.whatsapp-btn img {
    height: 70%;
    width: 70%;
}

.blue-sepator {
    height: 45px;
    background-color: #2e6ca4;
    z-index: 100;

}

.colorized-sepator {
    height: 45px;
    z-index: 100;
    display: flex;
    flex-direction: row;

}

.colorized-sepator .first-separator{
    width: 33.33%;
    background-color:#FF9F1C ;
}

.colorized-sepator .second-separator {
    width: 33.33%;
    background-color: #E71D35;
}
.colorized-sepator .third-separator {
    width: 33.33%;
    background-color: #2EC5B6;
}


/*  */
.header .header-information-nav  {
    background-color: #2e6ca4;
}

.header .header-information-nav .header-information-nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    width: 93%;
    margin: 0 auto;
}

.header .header-information-nav .header-information-nav__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-information-nav .header-information-nav__contact .contact-number, .address {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header .header-information-nav .header-information-nav__contact .contact-number .phone-icon-container, .phone-number {
    display: flex;
    align-items: center;
    margin-left:  10px;
}

.phone-number__text, .map-address__text {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.phone-number__text:hover, .map-address__text:hover {
    text-decoration: none;
    color: #fff;
}

.header .header-information-nav .header-information-nav__contact .address .map-icon-container, .map-address {
    display: flex;
    align-items: center;
}

.header .header-information-nav .header-information-nav__contact .address {
    margin-left: 40px;
}

.header .header-information-nav .header-information-nav__contact .contact-number img, .address img {
    height: 75%;
}

.header-information-nav .header-information-nav__social {
   display: flex;
   align-items: center;
}

.header-information-nav .header-information-nav__social a {
    display: flex;
    align-items: center;
    height: 75%;
    /* margin-left:  10px; */
}

.header-information-nav .header-information-nav__social a img {
    height: 95%;
    margin-left:  10px;
}

/* main menu */

.header .header-main-menu {
    height: 180px;
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-main-menu .header-main-menu__options-container {
    display: flex;
    flex-direction: row; 
}

.header .header-main-menu .header-main-menu__logo-container {
    display: flex;
    align-items: center;
}

.header-main-menu__options-container a  {
    display: flex;
    align-items: center;
    padding-left: 30px;
    text-decoration: none;
}

a .menu-options-container__item, .menu-options-container__item  {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

a .menu-options-container__item p, .menu-options-container__item p {
    color: #2e6ca4;
    font-weight: 600;
    font-size: 22px;
}

a .menu-options-container__item img, .menu-options-container__item img {
    width: 350px;
    height: 45%;
}
a .menu-options-container__item .menu-option__selected, .menu-options-container__item .menu-option__selected {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 4px solid #2e6ca4;
}


.header-main-menu__logo-container .logo-container__main-logo {
    height: 90%;
}

/* carousel */

.first-carousel-banner {
    height: calc(100vh-225px);
}

.first-carousel-banner .first-carousel-banner__image {
    background-image: url('../media/images/carousel/main-banner.png');
    height: 800px;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    padding-left: 70px;
    padding-top: 70px;
    background-position: center;
}

.first-carousel-banner__image--text {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    font-weight: 500;
}


.first-carousel-banner .carousel .carousel-inner {
    height: calc(100vh-225px);
}

.first-carousel-banner .carousel .carousel-inner .carousel-item  {
    height: 750px;
}
.first-carousel-banner .carousel .carousel-inner .carousel-item .carousel-caption {
   /* top: 0; 
   left: 0px;    */
   top: 40px;
   margin-left: auto ;
   margin-right: auto ;
}

.first-carousel-banner .carousel .carousel-inner .carousel-item .carousel-caption .carousel-text-customized {
    width: 50%;
    text-align: justify;
    font-weight: bold;
    font-size: 35px;
    margin-left: -40px;

} 

.first-carousel-banner .carousel .carousel-inner .carousel-item img {
    height: 100%;
}

.second-section {
    height: 550px;
    display: flex;   
}

.second-section .second-section__text {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.second-section .second-section__image {
    width: 75%;
    height: 100%;

}

.second-section .second-section__text .second-section__text-icon-container {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
}

.second-section .second-section__text .second-section__text-icon-container img {
   width: 70px;
   height: 70px;


}



.second-section .second-section__text .second-section__text-pharagraph {
    height: fit-content;
    text-align: center;
    font-size: 20px;
}

.second-section .second-section__text .second-section__text-pharagraph .second-section__text-pharagraph-first-text {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 10px;
}
.second-section .second-section__text .second-section__text-pharagraph .second-section__text-pharagraph-digit {
    font-weight: bold;
    height: fit-content;
    height: 70px;
    font-size: 70px;
    margin-bottom: 10px;
}
.second-section .second-section__text .second-section__text-pharagraph .second-section__text-pharagraph-last-text {
    font-size: 26px;
    width: 50%;
    line-height: 28px;
    margin: 0 auto;
    margin-top: 15px;
    font-weight: 400;
}


.second-section .second-section__image img {
    width: 100%;
    height: 100%;
}

.third-section {
 display: flex;
 flex-direction: row;
 height: 550px;
}

.third-section .third-section__image-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .third-section__image-container img {
    height: 80%;
    width: 80%;
}

.third-section .third-section__description {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-section .third-section__description .third-section__description-title {
    background-color: #2e6ca4;
    color: #fff;
    padding: 10px;
    border-radius: 10% 30% / 30% 0%;
}

.third-section .third-section__description .third-section__description--pharagraph {
    text-align: right;
    width: 80%;
    font-size: 20px;
}

.fourth-section {
    height: 1000px;
    background-image: url(../media/images/background-image.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: bottom;

}

.fourth-section .fourth-section__text-box {
    background-color: #fff;
    width: 40%;
    position: absolute;
    margin-left: 10%;
    margin-top:12%;
    border-radius: 0% 0% 20% 0%;
    z-index: 11;
    padding-top: 0px;
}
.fourth-section__text-title{
    background-color: #2e6ca4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    border-radius: 20% 0% 0% 0%;
    margin-left: 10%;
    margin-top: 8%;
    position: absolute;
    z-index: 10;
    height: 300px;
    color: #fff;
    padding-top: 11px;
}


/* .fourth-section .fourth-section__text-title .fourth-section__text-box--title {} */


.fourth-section .fourth-section__text-box .fourth-section__text-box--description {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 15px;
    font-size: 20px;
}

/* FIFTH SECTION */

.fifth-section {
    height: 800px;
    background-image: url(../media/images/secretary.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: left;

}

.fifth-section .fifth-section__text-box {
    background-color: #fff;
    width: 35%;
    position: absolute;
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 0% 0% 20% 0%;
    z-index: 11;
    padding-top: 1px;
}
.fifth-section .fifth-section__text-title{
    background-color: #2e6ca4;
    display: flex;
    font-size: 18px;
    align-items: flex-start;
    justify-content: center;
    width: 35%;
    border-radius: 20% 0% 0% 0%;
    margin-left: 10%;
    margin-top: 8%;
    position: absolute;
    z-index: 10;
    height: 300px;
    color: #fff;
    padding-top: 25px;

}

.fifth-section .fifth-section__text-title .fifth-section__text-box--title {
    font-size: 34px;
}

.fifth-section .fifth-section__text-box .fifth-section__text-box--description {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
}

/*
 sixth section
*/

.sixth-section {
    height: 800px;
    background-image: url(../media/images/medic.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: bottom;
}

.sixth-section .sixth-section-header {
    height: 150px;
    position: absolute;
    margin-top: 30px;
    width: fit-content;
    margin-left: 30px;
}

.sixth-section .sixth-section-header img {
    height: 90%;
}

.sixth-section .sixth-section__main-container {
    font-size: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 45%;
    /* background-color: #ffffffb9;  */
    z-index: 30;
}

.sixth-section__text-container {

    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
    width: 20%;
    /* background-color: #ffffffb9;  */
    z-index: 30;
}

.sixth-section__text-container .sixth-section__text-container--description {
    text-align: right;
    /* margin: 10px; */
    /* padding: 0px 20px; */
    /* text-align: center; */
    padding-right: 25px;
    line-height: 35px;
    
}

.sixth-section__text-container--yellow {
    /* font-size: 54px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); */
    /* border-top: 10px solid #FF9F1C ; */
    border-bottom: 10px solid #FF9F1C;
    border-right: 10px solid #FF9F1C;
    /* border-top: 10px solid #FF9F1C; */
    width: 23%;
    height: 80px;
    margin-top: -45px ;
}

.sixth-section__text-container-pharagraph {
    font-size: 22px;
    width: 95%;
    margin: 20px auto;
}

.sixth-section__text-container-pharagraph p {
    width: 55%;
    margin-left: 0;
}

.sixth-section__main-container .sixth-separator__buttons-container {
    margin-top: 15px;
    margin-left: 9%;
    vertical-align: top;
    width: fit-content;
    display: flex;
}

.sixth-section__main-container .sixth-separator__buttons-container button {
    border: none;
    background-color: #E71D35;
    color: #fff;
    border-radius: 14px;
    line-height: 30px;
    width: fit-content;
    font-size: 30px;
    margin: 0px 25px;
    border: 2px solid #E71D35;
}

.sixth-section__main-container .sixth-separator__buttons-container a {
    display: flex;
    text-decoration: none;
    margin-top: 20px;
}

.sixth-section__main-container .sixth-separator__buttons-container button:hover {
    border: 2px solid #E71D35;
    background-color: #fff;
    color: #E71D35;
}

.sixth-section__main-container .sixth-separator__buttons-container button:first-child {
    height: 55px;
    padding: 10px 10px;
}

.sixth-section__main-container .sixth-separator__buttons-container button:last-child {
    padding: 0px 35px;
}

.sixth-section__main-container .sixth-separator__buttons-container button p {
    padding: 10px 15px;
}

/* Seventh section */ 

.seventh-section {
    height: 800px;
    background-color: #DFE0E2;
    width: 100%;
}

.seventh-section .seventh-section--title {
    position: absolute;
    margin-top: 65px;
    background-color: #2EC5B6;
    width: fit-content;
    color: #fff;
    padding: 25px 35px;
    border-radius: 0% 14px 14px 0px ;
}

.seventh-section .seventh-section--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.seventh-section .seventh-section--container .seventh-section--container__first-section {
    width: 60%;
    height: 100%;
}
.seventh-section .seventh-section--container .seventh-section--container__second-section {
    width: 40%;
    height: 100%;
    text-align: center;

}

.seventh-section .seventh-section--container .seventh-section--container__second-section img {
    height: 100%;
    max-width: 90%;
}

/* .seventh-section
.seventh-section--container
.seventh-section--container__first-section */
.seventh-section__description-container {
    position: absolute;
    margin-top: 0 auto;
    margin-top: 200px;
    width: 50%;

    display: flex;
    flex-direction: column;
}
/* .seventh-section
.seventh-section--container
.seventh-section--container__first-section
.seventh-section__description-container */
.seventh-section__description-container--description {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
}

.seventh-section
.seventh-section--container
.seventh-section--container__first-section
.seventh-section__description-container
.seventh-section__description-container--services {
    width: 90%;
    margin: 0 auto;
    
}

/* .seventh-section
.seventh-section--container
.seventh-section--container__first-section
.seventh-section__description-container
.seventh-section__description-container--service  */
.seventh-section__description-container--services-title {
    font-weight: 600;
    font-size: 24px;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.seventh-section__description-container--services ul {
    font-size: 20px;
    list-style: none;
}

.seventh-section__description-container--information {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seventh-section__description-container--information div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seventh-section__description-container--information div .schedule-container {
    display: flex;
    flex-direction: column;
}

.seventh-section__description-container--information div .schedule-container .m-to-s {
    font-weight: bold;
}

.seventh-section__description-container--information div .clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seventh-section__description-container--information div .phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seventh-section__description-container--information div .clock img {
    height: 50px;
    margin-right: 10px;
}

.seventh-section__description-container--information div .phone-container {
    display: flex;
    flex-direction: column;
}
.seventh-section__description-container--information div .phone img {
    height: 50px;
    margin-right: 10px;
}

.seventh-section__description-container--information div .phone-container .reserve-date {
    font-size: 18px;
    height: 18px;
    font-weight: bolder;
}

.seventh-section__description-container--information div .phone-container .phone-number-info {
    font-size: 30px;
    font-weight: bold;
}

/* eighth */

.eighth-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #fff;
    font-size: 22px;
}   

.eighth-section .eighth-section__first-container {
    width: 50%;

}

.eighth-section .eighth-section__first-container .eighth-section__first-container-title {
    position: absolute;
    margin-top: 65px;
    background-color: #2EC5B6;
    width: fit-content;
    color: #fff;
    padding: 25px 35px;
    border-radius: 0% 14px 14px 0px ;
    font-size: 40px;
    font-weight: bolder;
}

.eighth-section__first-container-prhase {
    margin-top: 200px;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
}

.eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    line-height: 30px;


}

.eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle .welcome-title {
    color: #FF9F1C;
    font-weight: bold ;
    font-size: 26px;
}

/* .eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle .main-site {
    font-weight: bold ;
    line-height: 32px;
} */

.eighth-section .eighth-section__second-container {
    width: 50%;
    text-align: right;
}
.eighth-section .eighth-section__second-container  img {
    width: 90%;
    height: 100%;
}

.eighth-section  .eighth-section__first-container-second-subtitle {
    font-size: 26px;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    line-height: 26px;
}

.eighth-section  .eighth-section__first-container-queries {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10%;
    font-size: 22px;
    line-height: 22px;
}

.eighth-section .eighth-section__address-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 60px;
}
.eighth-section .eighth-section__address-container div {
    display: flex;
}
.eighth-section .eighth-section__address-container div .eighth-section__address-container--image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eighth-section .eighth-section__address-container div .eighth-section__address-container--image img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.eighth-section .eighth-section__address-container .eighth-section__address-container--text {
    line-height: 22px;
    font-size: 24px;
}

.eighth-section .eighth-section__address-container .eighth-section__address-container--text .phone-number {
    line-height: 26px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 0;
}

footer p {
    width: 90%;
    margin: 5px auto;
    color: rgb(160, 160, 160);
    text-align: center;
}


@media only screen and (max-width: 1600px) {
    .fifth-section .fifth-section__text-title  {
        font-size: 20px;
        padding-top: 12px;
    }
 }

@media only screen and (max-width: 1400px) { 
    .third-section .third-section__description .third-section__description--pharagraph {
        width: 90%;
        font-size: 18px;
    }

    .fifth-section .fifth-section__text-box {
        margin-top: 13%;
    }

    /* .fifth-section .fifth-section__text-box {
        

    } */
    .fifth-section .fifth-section__text-title  {
        font-size: 22px;
        padding-top: 12px;
    }
    .fourth-section__text-box--title {
        font-size: 26px;

    }
    .fourth-section__text-title{
        padding-top: 15px;
        font-size: 24px;
    }

    .fourth-section .fourth-section__text-box  {
        margin-top: 13%;
    }
    

}
@media only screen and (max-width: 1280px) {

    a .menu-options-container__item  {
        padding-left: 20px;
    }
    a .menu-options-container__item p {
        font-size: 18px;
    }

    a .menu-options-container__item img {
        width: 320px;
        height: 40%;
    }

    .fifth-section .fifth-section__text-box {
        background-color: #fff;
        width: 50%;
        margin-top: 14%;
    }

    .fifth-section .fifth-section__text-title{
        width: 50%;
        padding-top: 15px;

    }
    
    .fifth-section .fifth-section__text-title .fifth-section__text-box--title {
        background-color: #ffffff00;
        font-size: 26px;      
    }

    .third-section .third-section__description .third-section__description--pharagraph {
        width: 90%;
        font-size: 16px;
    }
    

    .seventh-section .seventh-section--container .seventh-section--container__first-section {
        width: 100%;
    }

    .seventh-section .seventh-section--container .seventh-section--container__second-section {
        width: 40%;
        height: 100%;
        text-align: center;
    
    }
    
    .seventh-section .seventh-section--container .seventh-section--container__second-section {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }

    .seventh-section .seventh-section--container .seventh-section--container__second-section img {
        height: 90%;
        max-width: 90%;
    }   
    
    .seventh-section__description-container {
        position: absolute;
        margin-top: 0 auto;
        margin-top: 200px;
        width: 80%;
    
        display: flex;
        flex-direction: column;
    }

    .fourth-section__text-box--title {
        font-size: 26px;

    }
    .fourth-section__text-title{
        padding-top: 6px;
        font-size: 18px;
    }

    .fourth-section .fourth-section__text-box  {
        margin-top: 13%;
    }



        
    .eighth-section .eighth-section__address-container .eighth-section__address-container--text {
        line-height: 22px;
        font-size: 22px;
    }
    
    .eighth-section .eighth-section__address-container .eighth-section__address-container--text .phone-number {
        line-height: 24px;
        font-size: 24px;
    }
} 

@media only screen and (max-width: 1150px) {  
    .eighth-section {
        height: 900px;
    }   
    .eighth-section .eighth-section__address-container{
        margin-top: 15px;
        position: absolute;
        width: 60%;
    }

    .eighth-section .eighth-section__address-container div .eighth-section__address-container--image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .eighth-section .eighth-section__address-container div .eighth-section__address-container--image img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    
    .eighth-section .eighth-section__address-container .eighth-section__address-container--text {
        line-height: 22px;
        font-size: 20px;
    }
    
    .eighth-section .eighth-section__address-container .eighth-section__address-container--text .phone-number {
        line-height: 26px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 0;
    }
}


@media only screen and (max-width: 900px) {     
    .sixth-section {
        height: 850px;
    }
}
@media only screen and (max-width: 800px) { 
         /*  RESPONSIVE MENU */ 

        .first-carousel-banner__image  .first-carousel-banner__image--text {
            font-size: 20px;
            line-height: 22px;
         }
         
        .menu-h{
            display: block;
            height: fit-content;
        }

        .panel{
            position:fixed;
            z-index: 998;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70%;
            background-color:#fff;        
            transform: translate(100%, 0);           
            transform: translate(-100%, 0);
            transition: transform.3s ease;

            
        }

        .subsection-one .costos-test{
            display: block;
            width: 80%;
            padding-top: 7px;
            padding-bottom: 7px;
            margin: 3px auto;
            
        }

        .acrive-form{
            transform: translate(0,0);
        }
        
        .panel.is-active{
            transform: translate(0,0);
        }


        .panel-btn{            
            position: fixed;
            z-index: 999;
            right: 20px;
            bottom:100px;
            height:70px;
            width: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;           
            background-color: #2e6ca4;
        
        }

        .hamburger-box {
            position: absolute;
        }

        .menu{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
        }
        .menu a{
            padding: 1.5rem 0rem;
            width: inherit;
            display: block;
            font-size: 1.0rem;
            text-decoration: none;
            color: #2e6ca4 ;
            transition: all 0.3s ease;
            border-bottom: thin solid #2e6ca4;
           
        }
        .menu a:hover{
            font-weight: bold;
            color: #ffffff;
            background-color: #2e6ca4;
        }
                
    /* FIN RESPONSIVE MENU */ 

    
    .whatsapp-btn {
        right: 20px;
        bottom: 20px;
    }

    
    /* .logo-container__main-logo {
        display: none;
    } */

    .blue-sepator {
        height: 25px;
        background-color: #2e6ca4;
        z-index: 100;
    
    }
    .header .header-information-nav {
        display: none;
    }
    .header .header-main-menu {
        height: fit-content;
        padding: 10px;
    }
    .header .header-main-menu .header-main-menu__options-container {
        display: none;
    }
    .header .header-main-menu .header-main-menu__logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .header-main-menu__logo-container .logo-container__main-logo {
        height: 100px;
    }
 
    .first-carousel-banner .first-carousel-banner__image {
        background-image: url('../media/images/carousel/main-banner.png');
        height: 400px;
        background-size: cover;
        background-repeat: repeat, no-repeat;
        padding-left: 40px;
        padding-top: 40px;
    }
    
    .first-carousel-banner__image--text {
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;
    }
    


    /* carousel */
    .first-carousel-banner {
        height: 400px;
    }

        
    .first-carousel-banner .carousel .carousel-inner {
        height: 450px;
    }

    .first-carousel-banner .carousel .carousel-inner .carousel-item  {
        height: 450px;
    }

    /* .first-carousel-banner .carousel .carousel-inner .carousel-item .carousel-caption {
        top: 40px;
        margin-left: auto ;
        margin-right: auto ;
        z-index: 999;
     }
     
     .first-carousel-banner .carousel .carousel-inner .carousel-item .carousel-caption .carousel-text-customized {
         width: 50%;
         text-align: justify;
         font-weight: bold;
         font-size: 35px;
         margin-left: 0px;
         z-index: 999;

     
     }  */

    .second-section {
        height: 350px; 
        flex-direction: column;
    }

    .second-section .second-section__image {
        display: none;
    }

    .second-section .second-section__text {
        width: 100%;
        height: 100%;
    }

    .third-section {
        flex-direction: column;
    }

    .third-section .third-section__description { 
        width: 100%;

    }

    .third-section .third-section__description .third-section__description--pharagraph {
        text-align: center;
        width: 80%;
        font-size: 14px;
    }

    .third-section .third-section__image-container {
        display: none;
    }

    .fourth-section {
        height: 500px;

    }

    .fourth-section .fourth-section__text-box {
        margin-top: 17%;
        z-index: 8;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.404);
    }

    .fourth-section__text-title{
        width: 80%;
        height: 50px;
        margin-top: 8%;
    }
    
    .fourth-section .fourth-section__text-box .fourth-section__text-box--description {
        margin-top: 15px;
        font-size: 14px;
    }

    .fifth-section {
        height: 560px;
        background-position: center;
    }

    .fifth-section .fifth-section__text-box {
        background-color: rgba(255, 255, 255, 0.336);
        width: 80%;
        margin-top: 16%;
    }

    .fifth-section .fifth-section__text-title {
        width: 80%;
        height: 50px;
        padding-top: 4px;
    }
    .fifth-section .fifth-section__text-title .fifth-section__text-box--title {
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);

    }


    .fifth-section .fifth-section__text-box .fifth-section__text-box--description {
        font-size: 14px;
    }

    .sixth-section {
        height: 550px
    }

    .sixth-section .sixth-section-header {
        /* display: none; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 15px;

    }

    .sixth-section .sixth-section-header img {
        height: 100px;
    }

    .sixth-section .sixth-section__main-container {
        font-size: 30px;
        top: 280px;
    }

    .sixth-section__text-container--yellow {
        display: none;
    }
    .sixth-section__text-container {
        width: fit-content;
        z-index: 30;   
        margin: 0 auto; 
        border:  10px solid #FF9F1C;   
        padding: 15px;
    }

    .sixth-section__text-container .sixth-section__text-container--description {
        text-align: center;
        font-size: 24px;
        padding-right: 0;
        line-height: 26px;
    }

    .sixth-section__text-container-pharagraph {
        width: 90%;
    }

    .sixth-section__text-container-pharagraph  p{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .sixth-section__main-container .sixth-separator__buttons-container {
        margin-left: 0%;
        /* margin: 10px auto; */
        vertical-align: top;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: row;
    }
    
    .sixth-section__main-container .sixth-separator__buttons-container a button {
    
        font-size: 20px;
    
    }

    .seventh-section {
        height: 415px;
    }

    .seventh-section .seventh-section--title {
        position: absolute;
        margin-top: 40px;
        padding: 10px 5px;
        width: 90%;
        font-size: 24px;
    }

    
    .seventh-section .seventh-section--container .seventh-section--container__second-section img {
        height: 70%;
        max-width: 100%;
    }

    .seventh-section .seventh-section--container .seventh-section--container__second-section {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
    }

    .seventh-section__description-container {
        margin-top: 110px;
        width: 90%;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.555);
        border-radius: 0px 14px 14px 0px;
    } 

    .seventh-section__description-container--description {
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .seventh-section__description-container--services {
        display: none;
    }

    .seventh-section__description-container--information div .schedule-container {
        font-size: 14px;
    }

    .seventh-section__description-container--information div .schedule-container .m-to-s {
        font-weight: bold;
    
    }

    .seventh-section__description-container--information div .phone-container {
        font-size: 14px;
    }

    .seventh-section__description-container--information div .phone-container .reserve-date {
        font-size: 14px;
        height: 14px;
    }

    .seventh-section__description-container--information div .phone-container .phone-number-info {
        font-size: 24px;
    }

    .seventh-section__description-container--information div .clock img {
        height: 30px;
    }

    .seventh-section__description-container--information div .phone img {
        height: 30px;
    }


    .eighth-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 640px;
        background-color: #fff;
        font-size: 22px;
       
    }  
    .eighth-section .eighth-section__first-container-prhase {
        margin-top: 120px;
    }

    .eighth-section .eighth-section__first-container {
        width: 100%;
    }

    .eighth-section .eighth-section__first-container .eighth-section__first-container-title {
        position: absolute;
        margin-top: 20px;
        padding: 10px;
        width: 30%;
        font-size: 18px;
    }


    .eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle {
        margin-top: 40px;
        font-size: 16px;
        text-align: center;
    }

    .eighth-section  .eighth-section__first-container-second-subtitle {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;

    }

    .eighth-section  .eighth-section__first-container-queries {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 14px;
    }

    .eighth-section .eighth-section__address-container {
        width: 100%;
        margin-top: 40px!important;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .eighth-section .eighth-section__address-container .eighth-section__address-container--image img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin: 0 auto;
    }

    .eighth-section .eighth-section__address-container .eighth-section__address-container--text {
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto;
    }

    .eighth-section .eighth-section__second-container {
     display: none;
        /* position: absolute; */
    }

    footer {
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 620px) { 
    .sixth-section {
        height: 640px;
    }

    .sixth-section .sixth-section__main-container {
        top: 300px;
    }

    .sixth-section__text-container--yellow {
        display: none;
    }
    .sixth-section__text-container {
        width: fit-content;
        z-index: 30;   
        margin: 0 auto; 
        border:  10px solid #FF9F1C;   
        padding: 15px;
    }
}

@media only screen and (max-width: 450px) {
/* 
    .fifth-section {
        height: 560px;
    } */

    .fifth-section .fifth-section__text-box {
        background-color: rgba(255, 255, 255, 0.336);
        width: 80%;
        margin-top: 27%;
    }

    .fifth-section .fifth-section__text-title {
        width: 80%;
        height: 70px;
        padding-top: 4px;
    }
    .fifth-section .fifth-section__text-title .fifth-section__text-box--title {
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);

    }


    .fifth-section .fifth-section__text-box .fifth-section__text-box--description {
        font-size: 14px;
    }
    .fifth-section {
        height: 515px;
        background-position: center;
    }
    .sixth-section {
        height: 680px;
    }

    .sixth-section__main-container .sixth-separator__buttons-container a button {    
        margin: 5px;    
    }
    .seventh-section {
        height: 280px;
    }
    .seventh-section--container {
        display: flex;
    }

    .seventh-section--container__first-section {
        width: 280px;
        position: relative;
    }
    .seventh-section--container__first-section  .seventh-section__description-container{
        width: 100%;
        margin-top: 70px;
        background-color: rgba(255, 255, 255, 0);
    }
    .seventh-section--container__first-section  .seventh-section__description-container .seventh-section__description-container--description {
        width: 250px;
        margin: 0;
        padding-left: 10px;
    }

    .seventh-section--container__first-section  .seventh-section__description-container .seventh-section__description-container--description  {
        font-size: 14px;
        line-height: 15px;
    }
    .seventh-section--container__first-section .seventh-section--title {
        margin-top: 20px;
        font-size: 18px;
        width: 280px;
    }
    .seventh-section--container__second-section {
        width: 20%;
    }
    .seventh-section__description-container--information {
        width: 270px;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        padding-left: 10px;
    }
    .seventh-section__description-container--information .seventh-section__description-container--information-schedule  div .clock img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .seventh-section__description-container--information .seventh-section__description-container--information-schedule  div  .schedule-container {
        font-size: 14px;
        line-height: 14px;
    }

    .seventh-section__description-container--information .seventh-section__description-container--information-phone  div .phone img  {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    .seventh-section__description-container--information .seventh-section__description-container--information-phone  div .phone-container {
        font-size: 14px;
        line-height: 14px;
    }
    .seventh-section__description-container--information .seventh-section__description-container--information-phone  div .phone-container .phone-number-info {
        font-size: 16px;
    }
    
    .eighth-section {
        height: 750px;
    }

    .eighth-section .eighth-section__first-container-prhase {
        margin-top: 95px;
        font-size: 22px;
    }

    .eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle {
        margin-top: 25px;
    }

    .eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle .welcome-title {
        font-size: 26px;
    }

    .eighth-section .eighth-section__first-container .eighth-section__first-container-subtitle .main-site {
        font-size: 24px;
    }
    .eighth-section .eighth-section__first-container .eighth-section__address-container {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        position: relative;
        margin-top: 30px!important;
        /* width: 100%; */
    }
    .eighth-section .eighth-section__first-container .eighth-section__address-container  div {
        margin: 5px auto;
    }
    .eighth-section .eighth-section__first-container .eighth-section__address-container div .eighth-section__address-container--text strong {
        font-size: 18px;
    }

    .eighth-section .eighth-section__first-container .eighth-section__first-container-queries {
        padding-left: 5px;
    }
}